@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"); /** Poppins Font **/

/** gobal layout */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #5344db;
  --accent-color: #5344db;
  --grey: #484848;
  --bg-grey: #efefef;
  --shadow: #949494;
}
.goflex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.row {
  display: flex;
  gap: 20px;
}

.col-6 {
  width: 50%;
}
.col-8 {
  width: 70%;
}
.col-4 {
  width: 30%;
}

.single-product {
  position: relative;
  /* border: solid red; */
}
.single-product .img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  overflow: hidden;
}
.single-product .img-container img {
  height: 100%;
  object-fit: contain;
}
.control .under-btn button {
  /* width: 2rem; */
  padding: 1rem 0.5rem 0.5rem;
  /* border-radius: 4px 0 0 4px; */
  font-size: 2rem;
}
.control .under-btn input {
  width: 3rem;
  padding: 1rem 0.5rem 0.5rem;
  font-size: 2rem;
}
