@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@300&display=swap");
@import url("https://fonts.googleapis.com/earlyaccess/notonaskharabic.css");
@import url("https://fonts.googleapis.com/css2?family=Amiri&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rakkas&display=swap");
@import url("http://www.fontstatic.com/f=sky-bold,sky");
@import url("http://www.fontstatic.com/f=dubai,dubai-light,dubai-medium,dubai-bold");
@import url("http://www.fontstatic.com/f=cocon-next-arabic");
@import url("http://www.fontstatic.com/f=jazeera,jazeera-light");
@import url("http://www.fontstatic.com/f=bahij");
@import url("http://www.fontstatic.com/f=jooza");
@import url("http://www.fontstatic.com/f=flat-jooza");
@import url("https://fonts.googleapis.com/css?family=Cairo:400,700&subset=arabic");

/* @import "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"; */

:root {
  --light-green: #27ae5f79;
  --black: #192a56;
  --light-color: #666;
  --subtle: #aaa;
  --darkGray: DarkGray;
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --green: #27ae60;
  --green-transparent: #27ae5f63;
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
  --subtle: #aaa;

  --black: #192a56;
  --light-color: #666;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  --mainFont: white;
  --style: var(--green);
  --mainTransition_1: all 0.3s linear;
  --mainWhite: #fff;

  --b: 1px solid red;
}

* {
  font-family: "Cairo", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
  scroll-behavior: smooth;
}

html {
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

section {
  padding: 2rem 9%;
}

section:nth-child(even) {
  background: #eee;
}
.page-title {
  text-align: center;
  margin-top: 70px;
}
.sub-heading {
  text-align: center;
  color: var(--green);
  font-size: 2rem;
  padding-top: 1rem;
}

.btn {
  /* margin-top: 1rem; */
  display: inline-block;
  font-size: 1rem;
  color: #fff;
  background-color: var(--green);
  border-radius: 0.5rem;
  cursor: pointer;
  /* padding: 0.8rem 3rem; */
}
.center {
  text-align: center;
}
.btn:hover {
  /* letter-spacing: 0.1rem; */
  color: var(--green);
}
/* ==========================================    loading-component    ========================== */
.loading-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 87vh;
}
/* ------------------------------------- Loader ------------------------------------------- */

.loader,
.loader:before,
.loader:after {
  background: transparent;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #27ae60;
  text-indent: -9999em;
  margin: 88px auto;
  margin-top: 20rem;
  position: relative;
  font-size: 3rem;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: "";
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
/*                                    --- Loader   ---ends */
/* -----------------------------------   pagination   ----------------------------------------- */
.container {
  /* width: 100%; */
  /* border: 1px solid yellow; */
  text-align: center;
}
.pagination {
  /* display: inline-block; */
  display: flex;
  margin: 15px auto;
  /* border: 1px solid rgb(255, 94, 0); */
  justify-content: center;
}

.pagination button {
  color: black;
  float: left;
  padding: 6px 14px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  margin: 0 3px;
}

.pagination button.active {
  background-color: #4caf50;
  color: white;
  border: 1px solid #4caf50;
}

.pagination button:hover:not(.active) {
  background-color: #ddd;
}
/*                                    --- pagination ---ens */
/* ==========================================    header    =================================== */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 67px;
  background: #fff;
  padding: 0.7rem 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 5;
  box-shadow: var(--box-shadow);
  direction: rtl;
}
.logo a {
  /* border: 1px solid rgb(236, 7, 217); */
  display: flex;
  justify-content: center;
  align-items: center;
}

header .logo-name {
  color: var(--black);
  font-size: 1.5rem;
  font-weight: bolder;
}

header .logo img {
  width: 50px;
  /* border: 1px solid red; */
}

header .navbar a {
  font-size: 1rem;
  margin-right: 0.3rem;
  border-radius: 0.5rem;
  padding: 0.3rem 1rem;
  color: var(--light-color);
}

header .navbar a.active,
header .navbar a:hover {
  color: #fff;
  background: var(--green);
}

header .icons i,
header .icons a {
  cursor: pointer;
  margin-left: 0.5rem;
  height: 2.2rem;
  line-height: 2.2rem;
  width: 2.2rem;
  text-align: center;
  font-size: 1rem;
  color: var(--black);
  border-radius: 50%;
  background: #eee;
}

header .icons i:hover,
header .icons a:hover {
  color: #fff;
  background: var(--green);
  transform: rotate(360deg);
}

header .icons #menu-bars {
  display: none;
}
/* ----------------------------------------     Menu     -------------------- */
.menu-component {
  position: fixed;
  top: 67px;
  left: 0;
  right: 0;
  /* height: 50px; */
  padding: 0.5rem 5%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 100, 0, 0.5);
  z-index: 4;
  box-shadow: var(--box-shadow);
  /* border: 1px solid blue; */
}
.menu-component .cart-toggle {
  /* border: 1px solid green; */
  background: #fff;
  border-radius: 50%;
  width: 3rem;
  text-align: center;
  height: 3rem;
  cursor: pointer;
  /* line-height: 4rem; */
}
.menu-component .cart-toggle i {
  position: relative;
  padding: 0.3rem;
  font-size: 2rem;
  /* width: 50px; */
  /* border: 1px solid red; */
  margin-top: 5px;
  color: rgb(223, 8, 8);
}
.menu-component .cart-toggle i span {
  position: absolute;
  top: -0.3rem;
  left: 40%;
  font-size: 1.3rem;
  color: blue;
}

.menu-component .search-bar {
  position: fixed;
  top: -10rem;
  right: 20%;
  left: 20%;
  height: 10rem;
  background: rgba(0, 100, 0, 0.7);
  font-family: "El Messiri";
  padding: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.menu-component .show-search-bar {
  top: 10rem;
}
.menu-component .close-search-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: red;
  background: transparent;
  font-size: 1.7rem;
}

.menu-component .search-bar input {
  width: 15rem;
  /* height: 2.5rem; */
  font-size: 1.1rem;
  /* padding-bottom: 3rem; */
  direction: rtl;
  border-radius: 5px;
}
.menu-component .select-container {
  /* border: 1px solid red; */
  /* width: 30%; */
  /* font-size: 1.5rem; */
  font-family: "El Messiri";
  padding: 0.3rem;
  background: #fff;
  border-radius: 5px;
  direction: rtl;
}
.menu-component .select-class {
  width: 100%rem;
  /* height: 2.5rem; */
  font-size: 1.1rem;
  padding-bottom: 0.1rem;
  direction: rtl;
  /* border: 1px solid rgb(53, 233, 7); */
}
/* -------------------------------------       cart        ------------------------------- */
.cart {
  /* box-sizing: border-box; */
  position: fixed;
  top: 4.2rem;
  bottom: 0;
  left: 0;
  width: 40%;
  height: 100%;
  padding: 10px;
  padding-bottom: 100px;
  border: 2px solid var(--green);
  background: var(--clr-white);
  box-shadow: var(--clr-red-dark);
  transition: var(--transition);
  transform: translate(-110%);
  z-index: 4;
  min-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  border-bottom: 2px solid var(--green);
}
.cart-close {
  font-size: 1.75rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-primary-5);
  cursor: pointer;
  color: var(--clr-red-dark);
  margin-top: 0.2rem;
}
.cart-close:hover {
  color: var(--clr-red-light);
}
.cart-logo {
  position: relative;
  font-size: 2rem;
  color: var(--green);
}
.cart-logo span {
  position: absolute;
  top: -0.5rem;
  left: 40%;
  color: blue;
  font-size: 1.3rem;
}

.show-cart {
  transform: translate(0);
}
/* temp table css  */
.cart table {
  direction: rtl;
  border-collapse: collapse;
  border: 1px solid var(--style);
  width: 100%;
  counter-reset: items_counter;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cart table td,
table th {
  border-bottom: 1px solid gray;
  padding: 3px;
}
.cart table th {
  padding-top: 0.5rem;
  text-align: right;
  background-color: var(--style);
  color: var(--mainFont);
  position: sticky;
  top: 0;
}
.cart table th.amount-caption {
  text-align: center;
  /* border: 1px solid red; */
}
.cart #counter:before {
  counter-increment: items_counter;
  content: counter(items_counter) ". ";
}

.cart table button {
  width: 100%;
  color: red;
  font-weight: 700;
  font-size: 16px;
  border: 1px solid rgba(255, 0, 0, 0.404);
  border-radius: 3px;
}
.cart table tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.cart table tr:hover {
  background-color: #ddd;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
.cart table .amount {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  /* padding: 1px; */
}

.cart table .amount button {
  width: 3rem;
  padding: 3px;
  border: 1px solid var(--green);
}
.cart table .amount button:first-child {
  border-radius: 0 15px 15px 0;
  color: red;
}
.cart table .amount button:last-child {
  border-radius: 15px 0 0 15px;
  color: rgb(9, 128, 34);
}
.cart table .amount input {
  width: 4rem;
  padding: 4px;
  font-size: 0.9rem;
  text-align: center;
  border-top: 1px solid var(--green);
  border-bottom: 1px solid var(--green);
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
.cart .cart-summary {
  margin-top: 25px;
  margin-bottom: 20px;
  text-align: center;
  direction: rtl;
}
.cart .cart-summary span {
  font-size: 1.4rem;
  margin-left: 0.5rem;
}
.cart .cart-summary input {
  width: 4rem;
  font-size: 1.2rem;
  border: 1px solid var(--green);
  text-align: center;
}
.cart #empty-cart {
  /* :link, :visited { */
  background-color: var(--style);
  color: var(--mainFont);
  padding: 10px 25px;
  text-align: center;
  display: inline-block;
  margin-top: 15px;
  border: 1px solid var(--green);
}
.cart #empty-cart:hover {
  background-color: var(--mainFont);
  color: var(--style);
  border: 1px solid var(--green);
}

/* =======================================    customer-info   =============================== */
.customer-info {
  border: 2px solid var(--green);
  border-radius: 5px;
  padding: 10px;
  direction: rtl;
  margin-bottom: 20px;
}
.customer-info input {
  width: 100%;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 1rem;
  padding: 0.3rem;
  display: block;
}
.customer-info input.address {
  height: 5rem;
}

.pay-info {
  border: 2px solid var(--green);
  border-radius: 5px;
  padding: 10px;
  direction: rtl;
}
.pay-info select {
  width: 100%;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 1rem;
  padding: 0.3rem;
  display: block;
  margin-bottom: 15px;
}
.pay-info button {
  background-color: var(--style);
  color: var(--mainFont);
  padding: 10px 25px;
  text-align: center;
  display: block;

  border: none;
  margin: 0 auto;
}
/* ==================================     phone-box-component            ============= */
.phone-box-component {
  border: 2px solid var(--green);
  border-radius: 5px;
  padding: 10px;
  direction: rtl;
  margin-bottom: 20px;
}
.phone-box-component input {
  width: 100%;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 1rem;
  padding: 0.3rem;
  display: block;
}

/* ----------------------------    exhibition      -------------- */

.exhibition-component {
  display: grid;
  grid-template-columns: auto auto auto;
  /* display: flex;
  justify-content: center;
  flex-wrap: wrap; */
  /* gap: 10px; */
  padding-top: 10px;
  margin-top: 130px;
}

/* ============================================  single-product  not used ===========================================  */

.single-product {
  position: relative;
  margin: 0 10px 10px 5px;
  padding: 1rem;
  /* width: 22%; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 0.7rem;
  /* border: 1px solid blue; */
}
.single-product .img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 270px;
  overflow: hidden;
  position: relative;
  /* border: 1px solid red; */
}
.single-product .img-container img {
  width: 75%;
}
.single-product .img-container .fa-award {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 3rem;
  color: var(--green);
}
.single-product .img-container .fa-badge-percent {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 3rem;
  width: 40px;
  height: 40px;
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
  color: rgb(217, 231, 13);
}
.single-product .product-details {
  display: flex;
  justify-content: flex-end;
}
.single-product .product-details .info {
  padding: 10px;
  direction: rtl;
  width: 70%;
  border-right: 5px solid var(--clr-grey-7);
}
.single-product .info--name {
  font-family: "El Messiri", sans-serif;
  font-size: 1.3rem;
}
.single-product .info--price {
  color: maroon;
  font-size: 1.3rem;
}
.single-product .info--weight {
  font-weight: 400;
  color: darkolivegreen;
  font-family: "Noto Kufi Arabic", sans-serif;
  font-size: 0.9rem;
}

.single-product .control {
  padding: 10px;
  width: 35%;
  /* border: 1px solid greenyellow; */
}

.single-product .control > button {
  background-color: var(--green);
  width: 100%;
  height: 3rem;
  /* line-height: 1rem; */
  margin: 0 0 0.1rem 0;
  border: none;
  border-radius: 5px;
  text-align: center;
}
.single-product .control > button:hover {
  background-color: lightgreen;
  color: var(--green);
  font-weight: bolder;
}
.single-product .control .under-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}
.single-product .control .under-btn button {
  width: 32%;
  font-size: 2em;
  padding: 3px;
  border: 1px solid var(--green);
  /* text-align: center; */
}
.single-product .control .under-btn button:first-child {
  border-radius: 15px 0 0 15px;
  color: red;
}
.single-product .control .under-btn button:last-child {
  border-radius: 0 15px 15px 0;
  color: rgb(9, 128, 34);
}
.single-product .control .under-btn input {
  width: 35%;
  font-size: 2em;
  padding: 3px;
  text-align: center;
  border-top: 1px solid var(--green);
  border-bottom: 1px solid var(--green);
}
.single-product .info-secondary {
  padding: 10px;
  direction: rtl;
  border-top: 2px solid var(--light-color);
}
.single-product .info--company {
  color: var(--subtle);
  font-family: "dubai-bold", sans-serif;
}
.single-product .info--country {
  font-weight: 400;
  border-bottom: 1px dashed var(--subtle);
}
.single-product .info--desc {
  font-family: "sky-bold", serif;
  color: darkGray;
  font-size: 0.8rem;
}
/* ===============================     single-product-short        ===========================================  */

.single-product-short {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px 5px 10px;
  padding: 0.3rem;
  max-width: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-size: 0.7rem;
  background: #fff;
}
.single-product-short .photo-and-basic {
  display: flex;
  justify-content: space-between;
  width: 100%;

  border: 1px solid var(--light-green);
}
.single-product-short .photo-and-basic.choosen {
  /* border: 1px solid rgb(4, 129, 42); */
  /* background-color: rgb(241, 133, 174); */
}
.single-product-short .img-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 170px;
  overflow: hidden;
  position: relative;
  border-radius: 4px;
  margin-left: 5px;
  background-color: #fff;
  /* margin: auto; */
  /* border: 1px solid var(--clr-grey-9); */
}
.single-product-short .img-container img {
  width: 100%;
  object-fit: cover;
  /* border: 1px solid var(--clr-grey-9); */
}
.single-product-short .img-container .fa-award {
  position: absolute;
  top: 0.3rem;
  left: 0.3rem;
  font-size: 1rem;
  color: var(--green);
}

.single-product-short .product-details {
  display: flex;

  /* border: 1px solid red; */
}

.single-product-short .product-details .info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  direction: rtl;
  width: 70%;
  /* border-right: 5px solid var(--clr-grey-9); */
  /* border: 1px solid rgb(26, 189, 230); */
}
.single-product-short .product-details .info.incart {
  background: rgba(0, 100, 0, 0.5);
}
.single-product-short .info--name {
  font-family: "El Messiri", sans-serif;
  font-size: 1.1rem;
  line-height: 1.1rem;
}
.single-product-short .info--price {
  color: maroon;
  font-size: 1.1rem;
}
.single-product-short .info--weight {
  font-weight: 400;
  color: darkolivegreen;
  font-family: "Noto Kufi Arabic", sans-serif;
  font-size: 0.9rem;
}
.single-product-short .extra-details-btn {
  padding: 3px 15px;
  margin-bottom: 0;
  border-radius: 5px;
  color: rgb(46, 73, 30);
  background: LightGray;
}
.single-product-short .extra-details-btn:hover {
  color: var(--green);
  /* background: var(--clr-grey-5); */
}
.single-product-short .control {
  padding: 10px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid greenyellow; */
}
.single-product-short .control > button {
  background-color: var(--green);
  width: 100%;
  height: 3rem;
  /* line-height: 1rem; */
  margin: 0 0 0.1rem 0;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-weight: bolder;
}
.single-product-short .control > button:hover {
  background-color: lightgreen;
  color: var(--green);
}
.single-product-short .control > button.gone {
  display: none;
}
.single-product-short .control > button.cancel {
  /* margin-top: 0.5rem; */
  color: red;
  background-color: #fff;
  border: 1px solid red;
  transition: var(--transition);
}
.single-product-short .control .under-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}
.single-product-short .control .under-btn button {
  width: 32%;
  font-size: 2em;
  padding: 3px;
  border: 1px solid var(--green);
  /* text-align: center; */
}
.single-product-short .control .under-btn button:first-child {
  border-radius: 15px 0 0 15px;
  color: red;
}
.single-product-short .control .under-btn button:last-child {
  border-radius: 0 15px 15px 0;
  color: rgb(9, 128, 34);
}
.single-product-short .control .under-btn input {
  width: 35%;
  font-size: 2em;
  padding: 3px;
  text-align: center;
  border-top: 1px solid var(--green);
  border-bottom: 1px solid var(--green);
}
.single-product-short .info-secondary {
  position: absolute;
  /* display: none; */
  top: 0;
  height: 100%;
  left: 0;
  width: 100%;
  padding: 10px;
  border: 1px solid var(--green);
  direction: rtl;
  background-color: #fff;
  z-index: -1;
}
.single-product-short .show-info-secondary {
  z-index: 3;
}
.single-product-short .close-info-secondary {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  color: red;
  background: transparent;
  font-size: 1.7rem;
}
.single-product-short .info--company {
  font-family: "dubai-bold", sans-serif;
}
.single-product-short .info--country {
  font-weight: 400;
  /* border-bottom: 1px dashed var(--subtle); */
}
.single-product-short .info--desc {
  font-family: "sky-bold", serif;
  /* color: ; */
  font-size: 0.8rem;
}
/* -----------------------------------  order-view-component  -------------- */

.order-view-component {
  /* position: relatives; */
  /* border: 1px solid red; */
  margin: 0 auto;
  transition: none;
  padding: 10px;
}
.order-view-component h1,
h3 {
  text-align: center;
}
.order-view-component table {
  direction: rtl;
  /* border: 1px solid red; */
  border-collapse: collapse;
  border: 1px solid var(--style);
  width: 100%;
  counter-reset: items_counter;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.order-view-component table .current-order {
  background-color: #27ae60;
}
.order-view-component table td,
table th {
  border-bottom: 1px solid gray;
  padding: 3px;
}

.order-view-component table th {
  padding-top: 0.5rem;
  text-align: right;
  background-color: var(--style);
  color: var(--mainFont);
  position: sticky;
  top: 0;
}
.order-view-component #counter:before {
  counter-increment: items_counter;
  content: counter(items_counter) ". ";
}
.order-view-component table tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.order-view-component table tr:hover {
  background-color: #27ae60;
}
.order-view-component table tr:nth-child(odd).current-order {
  background-color: #27ae60;
}
.order-view-component .selected {
  background-color: #e27e0c;
}
/* --------------------------  order-view-details-component  ---------------- */
.order-view-details-component {
  position: fixed;
  /* padding: 20px; */
  direction: rtl;
  border: 2px solid rgb(42, 119, 6);
  top: 80px;
  left: 100px;
  right: 100px;
  /* bottom: 100px; */
  /* min-height: 100%; */
  height: 80%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fff;
}
.order-view-details-component .header {
  display: flex;
  height: 60px;
  position: fixed;
  left: 120px;
  right: 120px;
  background-color: #fff;
}
.order-view-details-component .header h1 {
  justify-self: center;
  margin-right: 30%;
  /* border: 1px solid rgb(229, 23, 236); */
}
.order-view-details-component .form-close {
  justify-self: self-start;
  width: 70px;
  height: 50px;
  padding: 5px 7px;
  margin: 15px 15px 0;
  border: 1px solid red;
  background-color: #fff;
  color: red;
  transform: none;
}
.order-view-details-component .form-close:hover {
  /* background-color: red; */
  /* color: #fff; */
  /* font-size: 2rem; */
  box-shadow: 2px 0px 3px #666;
}
.order-view-details-component .order-details {
  /* background-color: #666; */
  margin-top: 60px;
}
.order-view-details-component .order-details .row {
  /* background-color: #666; */
  margin: 10px 10% 15px;
  display: flex;
  justify-content: space-between;
}
.order-view-details-component .order-details .row .form-item {
  display: flex;
  flex-direction: column;
  width: 90%;
  /* border: 1px solid rgb(229, 23, 236); */
}

.order-view-details-component .order-details .form-item input {
  padding-right: 10px;
  width: 80%;
  border: 1px solid rgb(66, 66, 70);
  background-color: #ddd;
  font-size: 1.2rem;
}
.order-view-details-component table {
  direction: rtl;
  border-collapse: collapse;
  border: 1px solid var(--style);
  /* width: 100%; */
  margin: 0 auto;
  counter-reset: items_counter;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 35px;
}
.order-view-details-component table td,
table th {
  border-bottom: 1px solid gray;
  padding: 3px;
}
.order-view-details-component table th {
  padding-top: 0.5rem;
  text-align: right;
  background-color: var(--style);
  color: var(--mainFont);
  position: sticky;
  top: 0;
}
.order-view-details-component table th.amount-caption {
  text-align: center;
  /* border: 1px solid red; */
}
.order-view-details-component #counter:before {
  counter-increment: items_counter;
  content: counter(items_counter) ". ";
}

.order-view-details-component table button {
  width: 100%;
  color: red;
  font-weight: 700;
  font-size: 16px;
  border: 1px solid rgba(255, 0, 0, 0.404);
  border-radius: 3px;
}
.order-view-details-component table tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.order-view-details-component table tr:hover {
  background-color: #ddd;
}

.order-view-details-component table .amount {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  /* padding: 1px; */
}

.order-view-details-component table .amount button {
  width: 3rem;
  padding: 3px;
  border: 1px solid var(--green);
}
.order-view-details-component table .amount button:first-child {
  border-radius: 0 15px 15px 0;
  color: red;
}
.order-view-details-component table .amount button:last-child {
  border-radius: 15px 0 0 15px;
  color: rgb(9, 128, 34);
}
.order-view-details-component table .amount input {
  width: 4rem;
  padding: 4px;
  font-size: 0.9rem;
  text-align: center;
  border-top: 1px solid var(--green);
  border-bottom: 1px solid var(--green);
}
.order-view-details-component .control-control-btns {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.order-view-details-component .control-control-btns button {
  margin-left: 20px;
  padding: 7px 15px;
  background-color: #27ae60;
}
/* -----------------------------------------      customer-history-component      ------------------- */
.customer-history-component {
  margin: 20px 15%;
  transition: none;
  padding: 10px;
  /* border: 4px solid red; */
}
.customer-history-component h1 {
  text-align: right;
}
.customer-history-component h2,
h3 {
  text-align: center;
}
.customer-history-component table {
  direction: rtl;
  /* border: 1px solid red; */
  border-collapse: collapse;
  border: 1px solid var(--style);
  width: 100%;
  counter-reset: items_counter;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 20px;
}
.customer-history-component .current-order {
  background-color: #27ae60;
}
.customer-history-component td,
table th {
  border-bottom: 1px solid gray;
  padding: 3px;
}

.customer-history-component th {
  padding-top: 0.5rem;
  text-align: right;
  background-color: var(--style);
  color: var(--mainFont);
  position: sticky;
  top: 0;
}
.order-view-component #counter:before {
  counter-increment: items_counter;
  content: counter(items_counter) ". ";
}
.customer-history-component tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.customer-history-component tr:hover {
  background-color: #27ae60;
}
.customer-history-component tr:nth-child(odd).current-order {
  background-color: #27ae60;
}
.customer-history-component .selected {
  background-color: #e27e0c;
}
.customer-history-component .details h1 {
  text-align: center;
}
.customer-history-component .details table {
  direction: rtl;
  border-collapse: collapse;
  border: 1px solid var(--style);
  width: 80%;
  margin: 0 auto;
  counter-reset: items_counter2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.customer-history-component .details table td,
table th {
  border-bottom: 1px solid gray;
  padding: 3px;
}
.customer-history-component .details table th {
  padding-top: 0.5rem;
  text-align: right;
  background-color: var(--style);
  color: var(--mainFont);
  position: sticky;
  top: 0;
}
/* .customer-history-component .details table th.amount-caption {
  text-align: center;
  /* border: 1px solid red; 
} */
.customer-history-component .details #counter:before {
  counter-increment: items_counter2;
  content: counter(items_counter2) ". ";
}

.customer-history-component .details table button {
  width: 100%;
  color: red;
  font-weight: 700;
  font-size: 16px;
  border: 1px solid rgba(255, 0, 0, 0.404);
  border-radius: 3px;
}
.customer-history-component .details table tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.customer-history-component .details table tr:hover {
  background-color: #ddd;
}

.customer-history-component .details table .amount {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  /* padding: 1px; */
}

.customer-history-component .details table .amount button {
  width: 3rem;
  padding: 3px;
  border: 1px solid var(--green);
}
.customer-history-component .details table .amount button:first-child {
  border-radius: 0 15px 15px 0;
  color: red;
}
.customer-history-component .details table .amount button:last-child {
  border-radius: 15px 0 0 15px;
  color: rgb(9, 128, 34);
}
.customer-history-component .details table .amount input {
  width: 4rem;
  padding: 4px;
  font-size: 0.9rem;
  text-align: center;
  border-top: 1px solid var(--green);
  border-bottom: 1px solid var(--green);
}
/*                                     ----------  customer-history-component ENDs --------      */

/* -----------------------------------------      add-product-component      ------------------- */
.add-product-component {
  margin: 20px auto;
  width: 80%;

  direction: rtl;
}
.add-product-component h1 {
  text-align: center;
}
.add-product-component .row {
  margin: 0 10% 15px;
  display: flex;
  justify-content: space-between;
  /* border: 2px solid red; */
}
.add-product-component .row .form-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* border: 2px solid rgb(25, 97, 230); */
  margin-left: 20px;
}
.add-product-component .row .id {
  width: 150px;
}
.add-product-component .row .id input {
  background-color: rgb(66, 66, 70);
  color: #fff;
}
.add-product-component label {
}
.add-product-component input {
  padding-right: 10px;
  /* width: 100%; */
  border: 1px solid rgb(66, 66, 70);
  background-color: #ddd;
  font-size: 1.2rem;
}
.add-product-component .select-class {
  padding-right: 10px;
  width: 80%;
  border: 1px solid rgb(66, 66, 70);
  background-color: #ddd;
  font-size: 1.2rem;
}
.add-product-component .control-btns {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.add-product-component button {
  margin-left: 20px;
  /* width: 100px; */
  padding: 10px 20px;
  background-color: #27ae60;
  text-align: center;
}

/*                                  ---------     add-product-component     ENDs ------ */
/* =======================================  search-result-component =====================================*/
.search-result-component {
  padding: 20px;
  margin-top: 80px;
  direction: rtl;
  min-height: 80vh;
}
.search-result-component .search-bar {
  display: flex;
}
.search-result-component .input-search {
  border: 1px solid rgb(59, 59, 77);
  margin-right: 15px;
  margin-left: 15px;
  padding: 5px 7px;
  width: 400px;
}

/*                                -------   search-result-component   ENDs-------- */

/* =======================================  ExhibitionUpdateDelete-component =====================================*/
.ExhibitionUpdateDelete-component {
  display: grid;
  grid-template-columns: auto auto auto;
  /* display: flex;
  justify-content: center;
  flex-wrap: wrap; */
  /* gap: 10px; */
  padding-top: 10px;
  margin-top: 20px;
}
/*                                -------   ExhibitionUpdateDelete-component   ENDs-------- */

/* =======================================  single-product-update-delete-component =====================================*/

.single-product-update-delete-component {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px 5px 10px;
  padding: 0.3rem;
  max-width: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-size: 0.7rem;
  background: #fff;
  direction: rtl;
}
.single-product-update-delete-component .photo-and-basic {
  display: flex;
  justify-content: space-between;
  width: 100%;

  border: 1px solid var(--light-green);
}
.single-product-update-delete-component .img-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 170px;
  overflow: hidden;
  position: relative;
  border-radius: 4px;
  margin-left: 5px;
  background-color: #fff;
}
.single-product-update-delete-component .img-container img {
  width: 100%;
  object-fit: cover;
}
.single-product-update-delete-component .product-details {
  display: flex;
}
.single-product-update-delete-component .product-details .info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  direction: rtl;
  width: 70%;
}

.single-product-update-delete-component .product-details .info .catid {
  display: flex;
}
.single-product-update-delete-component .info--name {
  font-family: "El Messiri", sans-serif;
  font-size: 1.1rem;
  line-height: 1.1rem;
}
.single-product-update-delete-component .info--price {
  color: maroon;
  font-size: 1.1rem;
}
.single-product-update-delete-component .info--weight {
  font-weight: 400;
  color: darkolivegreen;
  font-family: "Noto Kufi Arabic", sans-serif;
  font-size: 0.9rem;
}
.single-product-update-delete-component .extra-details-btn {
  padding: 3px 15px;
  margin-bottom: 0;
  border-radius: 5px;
  color: rgb(46, 73, 30);
  background: LightGray;
}
.single-product-update-delete-component .extra-details-btn:hover {
  color: var(--green);
  /* background: var(--clr-grey-5); */
}
.single-product-update-delete-component .control {
  padding: 10px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid greenyellow; */
}
.single-product-update-delete-component .control > button {
  background-color: var(--green);
  width: 100%;
  height: 3rem;
  /* line-height: 1rem; */
  margin: 0 0 0.1rem 0;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-weight: bolder;
}
.single-product-update-delete-component .control > button:hover {
  background-color: lightgreen;
  color: var(--green);
}
.single-product-update-delete-component .control > button.cancel {
  margin-top: 0.5rem;
  color: red;
  background-color: #fff;
  border: 1px solid red;
  transition: var(--transition);
}

.single-product-update-delete-component .info-secondary {
  position: absolute;
  /* display: none; */
  top: 0;
  height: 100%;
  left: 0;
  width: 100%;
  padding: 10px;
  border: 1px solid var(--green);
  direction: rtl;
  background-color: #fff;
  z-index: -1;
}
.single-product-update-delete-component .show-info-secondary {
  z-index: 3;
}
.single-product-update-delete-component .close-info-secondary {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  color: red;
  background: transparent;
  font-size: 1.7rem;
}
.single-product-update-delete-component .info--company {
  font-family: "dubai-bold", sans-serif;
}
.single-product-update-delete-component .info--country {
  font-weight: 400;
}
.single-product-update-delete-component .info--desc {
  font-family: "sky-bold", serif;
  font-size: 0.8rem;
}
/*                        -------   single-product-update-delete-component   --------ends */

/* -------------------------------- update-form-component---------------------------------------------*/
.update-form-component {
  position: fixed;
  top: 100px;
  left: 100px;
  right: 100px;
  background-color: rgb(235, 229, 229);
  border: 2px solid #27ae60;
  z-index: 5;
  direction: rtl;
}
.update-form-component .form-close {
  float: left;
  margin: 5px;
  background-color: #e27e0c;
  width: 80px;
}

.update-form-component h1 {
  text-align: center;
}
.update-form-component .row {
  margin: 0 10px 15px;
  display: flex;
  justify-content: right;
  /* border: 2px solid red; */
}
.update-form-component .row .form-item {
  display: flex;
  /* flex-direction: column; */
  width: 100%;
  /* border: 2px solid rgb(25, 97, 230); */
  margin-left: 10px;
}
.update-form-component .row .id {
  width: 200px;
}
.update-form-component .row .id input {
  background-color: rgb(66, 66, 70);
  color: #fff;
  padding: 3px 5px;
}
.update-form-component label {
  font-size: 1rem;
  width: 170px;
}
.update-form-component .text-input {
  padding-right: 10px;
  width: 100%;
  border: 1px solid rgb(66, 66, 70);
  background-color: #ddd;
  font-size: 1rem;
}
.update-form-component .select-class {
  padding-right: 10px;
  width: 80%;
  border: 1px solid rgb(66, 66, 70);
  background-color: #ddd;
  font-size: 1rem;
}
.update-form-component .control-btns {
  width: 200px;
  margin: 10px auto;

  /* border: 2px solid rgb(4, 122, 219); */
  text-align: center;
}
/* .update-form-component .control-btns .check-update-ui {
  padding: 5px 7px;
  border: 2px solid red;
} */
/* .update-form-component .control-btns .check-update-ui > input {
  margin: 5px 10px;
}
.update-form-component .control-btns .check-update-ui > label {
  margin-top: 0px;
} */
.update-form-component .btn--update {
  margin-left: 20px;
  width: 100px;
  padding: 10px 20px;
  background-color: #27ae60;
  text-align: center;
}

/*                      -------   update-form-component   ENDs-------- */
/* -------------------------------    Signup     ------------------------- */
.Signup-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem 0.5rem;
  background-color: #fff;
  direction: rtl;
}

.Signup-component section {
  width: 100%;
  max-width: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid #27ae60;
}

.Signup-component form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

.Signup-component a,
.Signup-component a:visited {
  color: #fff;
}

.Signup-component input[type="text"],
.Signup-component input[type="password"],
.Signup-component button,
.Signup-component textarea {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

.Signup-component input[type="text"] {
  text-transform: none;
}
.Signup-component label,
.Signup-component button {
  margin-top: 1rem;
}

.Signup-component button {
  padding: 0.5rem;
}

.Signup-component .instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.Signup-component .instructions > svg {
  margin-right: 0.25rem;
}

.Signup-component .offscreen {
  position: absolute;
  left: -9999px;
}

.Signup-component .hide {
  display: none;
}

.Signup-component .valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.Signup-component .invalid {
  color: red;
  margin-left: 0.25rem;
}

.Signup-component .errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.Signup-component .line {
  display: inline-block;
}

/*                      -------   Signup   ENDs-------- */
/* -------------------------------    Register     ------------------------- */
.register-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem 0.5rem;
  background-color: dodgerblue;
}

.register-component section {
  width: 100%;
  max-width: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
}

.register-component form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

.register-component a,
.register-component a:visited {
  color: #fff;
}

.register-component input[type="text"],
.register-component input[type="password"],
.register-component button,
.register-component textarea {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

.register-component label,
.register-component button {
  margin-top: 1rem;
}

.register-component button {
  padding: 0.5rem;
}

.register-component .instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.register-component .instructions > svg {
  margin-right: 0.25rem;
}

.register-component .offscreen {
  position: absolute;
  left: -9999px;
}

.register-component .hide {
  display: none;
}

.register-component .valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.register-component .invalid {
  color: red;
  margin-left: 0.25rem;
}

.register-component .errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.register-component .line {
  display: inline-block;
}

/*                           -----    Register     ---ends */
/* -------------------------------    footer     ------------------------- */
footer {
  margin-top: auto;
  width: 100%;
  height: 70px;
  background-color: #fff;
  /* border: 1px solid red; */
}
footer .footer-container {
  padding: 20px;
  background-color: rgba(0, 100, 0, 0.5);
}
footer .social-icons {
  width: 300px;
  margin: 0 auto;

  text-align: center;
}
footer .social-icons li {
  display: inline-block;
  margin-right: 15px;
}
footer .social-icons li a {
  color: #fff;
}
/* ===================================================================================================== */
/*========================================== R E S P O S I V E  =======================================*/

@media (max-width: 1100px) {
  .exhibition-component {
    grid-template-columns: auto auto;
  }

  .ExhibitionUpdateDelete-component {
    grid-template-columns: auto auto;
  }
}
@media (max-width: 991px) {
  header {
    padding: 1rem 1.3rem;
  }
  header .navbar a {
    margin-right: 0.1rem;
    /* font-size: 0.9rem; */
    font-size: 80%;
  }

  section {
    padding: 2rem;
  }
  .cart {
    width: 60%;
  }
}

@media (max-width: 768px) {
  header .icons #menu-bars {
    display: inline-block;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); /* // for cut */
  }

  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  header .navbar a {
    display: block;
    padding: 1.5rem;
    margin: 1rem;
    /* font-size: 2rem; */
    background: #eee;
  }
  header #search-icon {
    display: inline-block;
  }

  /* .menu-component .search-bar input {
    font-size: 1.2rem;
  } */

  .cart {
    width: 100%;
  }

  .single-product-short .img-container img {
    width: 80%;
  }
  .single-product-short .img-container {
    height: 190px;
  }
  .exhibition-component {
    grid-template-columns: auto;
  }
  .order-setter-details-component .order-details .row {
    display: block;
  }
}
@media (max-width: 550px) {
  .single-product-short .img-container {
    height: 170px;
  }
  .single-product-short .img-container img {
    width: 90%;
  }
  .exhibition-component {
    grid-template-columns: auto;
  }
  .ExhibitionUpdateDelete-component {
    grid-template-columns: auto;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 80%;
  }
  .cart table .amount input {
    font-size: 1rem;
    padding-top: 5px;
  }
  .single-product-short {
    margin: 0;
  }
  .single-product-short .photo-and-basic {
    border: none;
    border-bottom: 1px solid var(--green);
  }
  .single-product-short .img-container {
    height: 140px;
  }
  .single-product-short .img-container img {
    width: 100%;
  }
}
